.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page {
  position: relative;
  width: 100%;
}

.head {
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.banner {
  width: 100%;
  height: 1424px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}
.sub.banner {
  height: 768px;
}
.open.banner {
  height: 768px;
  background-size: contain;
  background-position: left top;
}
.lang-bar {
  position:absolute;
  margin: 0 0 0 auto;
  right:0;
}
.sitemap {
  background-color: #F8DFCB;
}
.copyright-social {
  background-color: #1B67B0;
}
.slogon {
  background-color: #152A88;
}
.nav-now {
  position: relative;
}
.nav-now .nav-tips {
  position: absolute;
  display: none;
  padding: 10px 20px;
  background-color: #ffffff;
  margin-left: 200px;
  white-space: nowrap;
  width: 120px;
  text-align: center;
}
.nav-now:hover .nav-tips {
  display: inline-block;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
